<tr>
  <td><%= link_to gist.question.body.truncate(25), admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
  <td><%= link_to "https://gist.github.com/#{gist.link}", "https://gist.github.com/#{gist.link}", target: 'blank'  %></td>
</tr>