<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
  <td><%= link_to "#{gist.link_hash}", "https://gist.github.com/#{gist.link_hash}", target: 'blank'  %></td>
</tr>