<div class="footer">
  <div align="center">
    <p>
      <a href="https://thinknetica.com/" target="_blank"> <img src="https://static.tildacdn.com/tild3265-3330-4331-a437-383435333261/thinknetica_transparent.png"></a>
    </p>
    <%= current_year %>
    <%= github_url('naveroot','TestGuru')  %>
    <p>
      Pushkin Ivan
    </p>
  </div>
</div>