<div class="topnav">
  <a class="active" href="/">TestGuru</a>
  <% if user_signed_in? %>
      <%= link_to t('links.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('links.sign_in'), new_user_session_path%>
      <%= link_to t('links.sign_up'), new_user_registration_path %>
  <% end %>
</div>

