<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="p-4">
      <h1 class="p-"><%= t('.header', title: @test.title) %></h1>
    </div>
    <%= render 'shared/errors', resource: @test %>
    <%= render 'form', test: @test  %>
  </div>
</div>
